@import url(searching.css);

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 7px 21px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 7px 21px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 21px 5px rgba(0,0,0,0.5);
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.logo{
    margin-left: 10px;
}

.carousel-control{
    opacity: 0.2;
}
.carousel-control:focus{
    opacity: 0.2;
}
.carousel-control:hover{
    opacity: 0.4;
}

.sign-in{
    padding: 12px 15px;
    border-radius: 40px;
    background-color: rgb(230, 230, 230);
    border: 0;
    outline: none;
    margin-right: 20px;
}

.sign-in a{
    padding: 0;
    border: none;
    background: none;
    color: #52C8FA;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.98rem;
    text-decoration: none;
}


.content{
    margin-top: 150px;
    text-align: center;
    color: #748A9D;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
}

.footer .wraper{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(235, 233, 233);
    border-radius: 25px;
    width: 480px;
    height: 80px;
    margin: 35px auto;
    align-items: center;
}

.footer-items{
    margin: 0 auto;
    margin-top: 2px;
}

.footer-items a{
    padding: 0 13px;
    text-decoration: none;
}

.info{
    padding: 12px 15px;
    margin-right: 20px;
    color: gray;
}

.info .user {
    font-size: 20px;
}

.info .user span{
    color: #52C8FA;
    text-transform: capitalize;
}

.info .logout{
    text-align: center;
}

.logout a{
    text-decoration: none;
    color: red;
}


.carousel-inner img {
    min-width: 100%;
    max-width: 100%;
    min-height: 50%;
    max-height: 50%;
    border-radius: 25px;
}

.carousel-inner .item img{
    min-width: 600px;
    max-width: 600px;
    min-height: 290px;
    max-height: 290px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 25px;
}

  
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
    border: 0;
    outline: none;
    width: 580px;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    border: solid gray 1px;
    padding: 22px 10px;
    border-radius: 50px;
    width: 600px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 50px;
    color:#52C8FA;
}

.search-query:focus + button {
    z-index: 3;   
}

.show{
    display: contents;
}

.none{
    display: none;
}