body, html{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
}

.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 7px 21px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 7px 21px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 21px 5px rgba(0,0,0,0.5);
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.back{
    margin-left: 20px;
}

.back a{
    text-decoration: none;
}

.back a img{
    width: 45px;
}

.image{
    background-color: #52C8FA;
    border-radius: 20px;
    padding: 8px 10px;
    width: 120px;
    text-align: center;
    margin: 0 auto;
}

.container{
    margin: 4px 0;
}

.image img{
    height: 40px;
    width: 40px;
}

.title{
    text-align: center;
}

.text{
    color: #748A9D;
    font-size: 18px;
}


.content{
    margin-top: 80px;
    color: #748A9D;  
    margin-left: 80px;
    margin-right: 80px;
}

.content-container{
    text-align: center;
}

.item{
    display: flex;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    width: 400px;
    margin: 20px auto;
    border-radius: 5px;
}

.item .img1{
    height: 20px;
    margin-right: 26px;
}

.item .img3{
    height: 20px;
    margin-right: 40px;
}


.item .img2{
    height: 10px;
    margin-top: 5px;
    margin-right: 15px;
}

.container-btn{
    text-align: center;
}

.btn-continue{
    background-color: #52C8FA;
    border-radius: 25px;
    padding: 8px 18px;
    width: 250px;
    margin: 0 auto;
    margin-top: 50px;
}

.btn-continue a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.btn-continue a svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 2px;
}

.btn-continue a:hover{
    text-decoration: none;
    color: cadetblue;
}



