body, html{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 7px 21px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 7px 21px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 21px 5px rgba(0,0,0,0.5);
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.back{
    margin-left: 20px;
}

.back a{
    text-decoration: none;
}

.back a img{
    width: 45px;
}

.title{
    color: #52C8FA;
    font-size: 40px;
}

.content-container{
    margin-top: 10px;
    padding: 30px 0;
}


.search{
    display: flex;
    justify-content: center;
}

.promo{
    display: flex;
    justify-content: center;
}


.coupon {
    border-radius: 12px;
    box-shadow: 5px 8px 10px #d6d5d533;
    width: 350px;
}

.code:hover {
    background: green;
    color: #fff;
    cursor: pointer
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
}

.footer .wraper{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(241, 241, 241);
    border-radius: 25px;
    width: 480px;
    height: 80px;
    margin: 35px auto;
    align-items: center;
}

.footer-items{
    margin: 0 auto;
    margin-top: 2px;
}

.footer-items a{
    padding: 0 13px;
    text-decoration: none;
}

.allVoucher{
    padding: 0 400px 0 220px;
}

