body, html{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 7px 21px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 7px 21px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 21px 5px rgba(0,0,0,0.5);
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.logo{
    margin-left: 10px;
}


.sign-in{
    padding: 12px 15px;
    border-radius: 40px;
    background-color: rgb(230, 230, 230);
    border: 0;
    outline: none;
    margin-right: 20px;
}

.sign-in a{
    padding: 0;
    border: none;
    background: none;
    color: #52C8FA;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.98rem;
    text-decoration: none;
}


.content{
    margin-top: 150px;
    text-align: center;
    color: #748A9D;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
}

.footer .wraper{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(235, 233, 233);
    border-radius: 25px;
    width: 480px;
    height: 80px;
    margin: 35px auto;
    align-items: center;
    box-shadow: 0px 9px 6px rgba(0,0,0,0.16);
}

.footer-items{
    margin: 0 auto;
    margin-top: 2px;
}

.footer-items a{
    padding: 0 13px;
    text-decoration: none;
    outline: none;
    border: none;
}

.info{
    padding: 12px 15px;
    margin-right: 20px;
    color: gray;
}

.info .user {
    font-size: 20px;
}

.info .user span{
    color: #52C8FA;
    text-transform: capitalize;
}

.info .logout{
    text-align: center;
}

.logout a{
    text-decoration: none;
    color: red;
}

.slider a{
    text-decoration: none;
    outline: none;
    border: none;
}

.slider a:focus{
    text-decoration: none;
    outline: none;
    border: none;
}

.slider{
    justify-content: center;
}

.information{
    background-color: white;
    box-shadow: 0px 3px 14px 5px rgba(0,0,0,0.2); 
    margin: 20px 24px;
    border-radius: 20px;
    height: 250px;
    padding-top: 30px;
    width: 200px;

}

.profile{ 
    padding: 20px 55px;
}

.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    font-weight: bold;
}


#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
    border: 0;
    outline: none;
    width: 580px;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    border: solid gray 1px;
    padding: 22px 10px;
    border-radius: 50px;
    width: 600px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 50px;
    color:#52C8FA;
}

.search-query:focus + button {
    z-index: 3;   
}


/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.searchImg{
    z-index: 99;
    right: 2%;
    top: 30%;
    position: absolute;
    font-size: 2.2rem;
    cursor: pointer;
}